{% extends 'goods/product_show.html' %}

{% block goods_list_detail %}
    {# navbar #}
    <div class="navbar_con">
            <div class="navbar clearfix">
                <div class="subnav_con fl">
                    <h1>全部商品分类</h1>
                    <span></span>
                    <ul class="subnav">
                        <li><a href="{% url 'dailyfresh:goods_list' 1 1 1%}" class="fruit">新鲜水果</a></li>
                        <li><a href="{% url 'dailyfresh:goods_list' 2 1 1%}" class="seafood">海鲜水产</a></li>
                        <li><a href="{% url 'dailyfresh:goods_list' 3 1 1%}" class="meet">猪牛羊肉</a></li>
                        <li><a href="{% url 'dailyfresh:goods_list' 4 1 1%}" class="egg">禽类蛋品</a></li>
                        <li><a href="{% url 'dailyfresh:goods_list' 5 1 1%}" class="vegetables">新鲜蔬菜</a></li>
                        <li><a href="{% url 'dailyfresh:goods_list' 6 1 1%}" class="ice">速冻食品</a></li>
                    </ul>
                </div>
                <ul class="navlist fl">
                    <li><a href="">首页</a></li>
                    <li class="interval">|</li>
                    <li><a href="">手机生鲜</a></li>
                    <li class="interval">|</li>
                    <li><a href="">抽奖</a></li>
                </ul>
            </div>
    </div>

    <div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

    {# 商品详情 #}
    {% block goods_detail %}{% endblock %}

    <div class="main_wrap clearfix">
        {# 新品推荐(共用部分) #}
        <div class="l_wrap fl clearfix">
                <div class="new_goods">
                    <h3>新品推荐</h3>
                    <ul>
                        {% for item in new_goods %}
                        <li>
                            <a href="#"><img src="/static/{{ item.gpic }}"></a>
                            <h4><a href="#">{{ item.gtitle }}</a></h4>
                            <div class="prize">￥{{ item.gprice }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        {# 列表内容 #}
        {% block goods_list %}{% endblock %}

        {# 商品描述 #}
        {% block goods_describtion %}{% endblock %}
    </div>

    {% block detail_js %}{% endblock %}

{% endblock %}
