{% extends 'users/base_center.html' %}
{% block usercenter %}
    <!-- 用户中心 -->
    <div class="main_con clearfix">
        <!-- 用户中心侧边栏 -->
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
                {% if active == 'info'%}
				<li><a href="{% url 'users:user_center_info' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'users:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'users:user_center_site' %}">· 收货地址</a></li>
                {% elif active == 'order'%}
                <li><a href="{% url 'users:user_center_info' %}">· 个人信息</a></li>
				<li><a href="{% url 'users:user_center_order' %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'users:user_center_site' %}">· 收货地址</a></li>
                {% elif active == 'site'%}
                <li><a href="{% url 'users:user_center_info' %}">· 个人信息</a></li>
				<li><a href="{% url 'users:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'users:user_center_site' %}" class="active">· 收货地址</a></li>
                {% else %}
                <li><a href="{% url 'users:user_center_info' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'users:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'users:user_center_site' %}">· 收货地址</a></li>
                {% endif %}
			</ul>
		</div>
        <!-- 详情 -->
        {% block detail %}{% endblock %}
    </div>
{% endblock %}