<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跳转</title>
</head>
<body>
    <h4 class="refresh_text">
        {{ info }}，<strong id="second_show">3</strong>秒钟之后将跳转
    </h4>
</body>
 <script type="application/javascript">
        var timeout = 4;
        function showError() {
            timeout--;
            document.getElementById("second_show").innerHTML = timeout;

            if (timeout == 0) {
                window.location.href = "{{ re_url }}";
            } else {
                setTimeout("showError()", 1000);
            }
        }
        showError();
    </script>
</html>