{% extends 'users/base_usercenter.html' %}
{% block head %}
    <script>
        $(function () {
            $('.col04').each(function () {
                count = parseFloat($(this).prev().text());
                price = parseFloat($(this).prev().prev().find('span').text());
                $(this).text(count*price+'元')
            })
        })

    </script>
{% endblock %}
{% block detail %}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in order_info %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.odate|date:"Y年m月j日  H时i分s秒" }}</li>
					<li class="col02">订单号：{{ order.oid }}</li>
					<li class="col02 stress">{% if order.oIsPay == 0 %}未支付{% else %}已支付{% endif %}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for detail in order.orderdetailinfo_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ detail.goods.gpic }}"></li>
									<li class="col02">{{ detail.goods.gtitle|truncatechars:15 }}<em><span>{{ detail.price }}</span>元/{{ detail.goods.gunit }}</em></li>
									<li class="col03">{{ detail.count }}</li>
									<li class="col04">元</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">{{ order.ototal }}元</td>
							<td width="15%">{% if order.oIsPay == 0 %}待付款{% else %}已付款{% endif %}</td>
                            {% if order.oIsPay == 0 %}
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                            {% else %}
                            <td width="15%"><a href="#" class="oper_btn">待付款</a></td>
                            {% endif %}
						</tr>
					</tbody>
				</table>
				{% endfor %}


				<div class="pagenation">
					<a href="#">上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页</a>
				</div>
		</div>
{% endblock %}